@charset "UTF-8";
:root {
  --navy:#0a192f;
  --light-navy:#112240;
  --lightest-navy:#233554;
  --slate:#8892b0;
  --light-slate:#a8b2d1;
  --lightest-slate:#ccd6f6;
  --white:#e6f1ff;
  --neon-green:#64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --neon-pink: #f57dff;
  --neon-blue: #57cbff;
}

.content h3 {
  margin-top: 0;
  font-size: 22px;
  color: var(--lightest-slate);
  letter-spacing: 0.2px;
}

.company-name {
  color: var(--neon-green);
}

.company-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  bottom: 0.37em;
  background-color: var(--neon-green);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.5;
}

.company-link {
  color: var(--neon-green);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.company-link:hover {
  color: var(--neon-green);
  outline: currentcolor none 0px;
}

.company-link:hover::after,
.company-link:focus::after,
.company-link:active::after {
  width: 100%;
}

.content p {
  margin-top: 0px;
  color: var(--light-slate);
  font-size: 13px;
}

.content ul {
  list-style: none;
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
}

.content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}

.content ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--neon-green);
}

.tabs a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.tabs-container {
  position: relative;
  margin-top: 50px;
  width: 90%;
  height: 400px;
}

.tabs-container .tabs {
  z-index: 3;
  width: 20%;
  margin-bottom: 10%;
}

.tabs-container .tabs .tab {
  width: 140px;
  height: 42px;
  font-size: 14px;
  padding: 10px 15px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-left: 2px solid #8892b04f;
  color: var(--slate);
  cursor: pointer;
}

.tabs-container .tabs .tab:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--neon-green);
  background-color: var(--light-navy);
}

.tabs-container .tabs .tab.active {
  color: var(--neon-green);
  background-color: var(--light-navy);
}

.tabs-container .tabs .tab.tab-1.active ~ .highlighter {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.tabs-container .tabs .tab.tab-2.active ~ .highlighter {
  -webkit-transform: translateY(42px);
          transform: translateY(42px);
}

.tabs-container .tabs .tab.tab-3.active ~ .highlighter {
  -webkit-transform: translateY(84px);
          transform: translateY(84px);
}

.tabs-container .tabs .highlighter {
  display: block;
  background: var(--neon-green);
  width: 2px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 10;
}

.tabs-container .tabs a:first-of-type {
  border-top-left-radius: 2px;
}

.tabs-container .tabs a:last-of-type {
  border-top-right-radius: 2px;
}

.tabs-container .content {
  position: relative;
  padding: 0 20px;
}

.tabs-container .content__section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
}

.tabs-container .content__section.visible {
  position: relative;
  opacity: 1;
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 2;
}

@media only screen and (min-width: 410px) and (max-width: 500px) {
  .tabs-container {
    width: 75%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 390px) {
  .tabs-container {
    width: 60%;
  }
}

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .tabs-container {
    width: 50%;
  }
}

/*Ipad view*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .tabs-container {
    position: relative;
    margin-top: 50px;
    width: 700px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tabs-container .tabs {
    display: block;
    position: relative;
    z-index: 3;
    width: 140px;
  }
  .tabs-container .tabs .tab {
    width: 140px;
    height: 42px;
    font-size: 14px;
    padding: 10px 15px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-left: 2px solid #8892b04f;
    color: var(--slate);
    cursor: pointer;
  }
  .tabs-container .tabs .tab:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: var(--neon-green);
    background-color: var(--light-navy);
  }
  .tabs-container .tabs .tab.active {
    color: var(--neon-green);
    background-color: var(--light-navy);
  }
  .tabs-container .tabs .tab.tab-1.active ~ .highlighter {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .tabs-container .tabs .tab.tab-2.active ~ .highlighter {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  .tabs-container .tabs .tab.tab-3.active ~ .highlighter {
    -webkit-transform: translateY(84px);
            transform: translateY(84px);
  }
  .tabs-container .tabs .highlighter {
    display: block;
    background: var(--neon-green);
    width: 2px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    z-index: 10;
  }
  .tabs-container .tabs a:first-of-type {
    border-top-left-radius: 2px;
  }
  .tabs-container .tabs a:last-of-type {
    border-top-right-radius: 2px;
  }
  .tabs-container .content {
    position: relative;
    padding: 0 20px;
  }
  .tabs-container .content__section {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity 0s ease;
    transition: opacity 0s ease;
  }
  .tabs-container .content__section.visible {
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    z-index: 2;
  }
}

@media screen and (min-width: 815px) {
  .content h3 {
    margin-top: 0;
    font-size: 22px;
    color: var(--lightest-slate);
    letter-spacing: 0.2px;
  }
  .company-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    bottom: 0.37em;
    background-color: var(--neon-green);
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
  }
  .company-link {
    color: var(--neon-green);
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .company-link:hover {
    color: var(--neon-green);
    outline: currentcolor none 0px;
  }
  .company-link:hover::after,
  .company-link:focus::after,
  .company-link:active::after {
    width: 100%;
  }
  .content p {
    margin-top: 0px;
    color: var(--light-slate);
    font-size: 13px;
  }
  .content ul {
    list-style: none;
    font-size: 16px;
    color: var(--slate);
    line-height: 1.5;
    width: 97%;
  }
  .content ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  .content ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--neon-green);
  }
  .tabs a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
  }
  .tabs-container {
    position: relative;
    margin-top: 50px;
    width: 750px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tabs-container .tabs {
    display: block;
    position: relative;
    z-index: 3;
    width: 140px;
  }
  .tabs-container .tabs .tab {
    width: 140px;
    height: 42px;
    font-size: 14px;
    padding: 10px 15px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-left: 2px solid #8892b04f;
    color: var(--slate);
    cursor: pointer;
  }
  .tabs-container .tabs .tab:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: var(--neon-green);
    background-color: var(--light-navy);
  }
  .tabs-container .tabs .tab.active {
    color: var(--neon-green);
    background-color: var(--light-navy);
  }
  .tabs-container .tabs .tab.tab-1.active ~ .highlighter {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .tabs-container .tabs .tab.tab-2.active ~ .highlighter {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  .tabs-container .tabs .tab.tab-3.active ~ .highlighter {
    -webkit-transform: translateY(84px);
            transform: translateY(84px);
  }
  .tabs-container .tabs .highlighter {
    display: block;
    background: var(--neon-green);
    width: 2px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    z-index: 10;
  }
  .tabs-container .tabs a:first-of-type {
    border-top-left-radius: 2px;
  }
  .tabs-container .tabs a:last-of-type {
    border-top-right-radius: 2px;
  }
  .tabs-container .content {
    position: relative;
    padding: 0 20px;
  }
  .tabs-container .content__section {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity 0s ease;
    transition: opacity 0s ease;
  }
  .tabs-container .content__section.visible {
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    z-index: 2;
  }
}
